.app-aside {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 40px 16px 16px;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 300px;
}

main {
  margin-left: 332px;
  padding: 32px;
}

main img {
  margin-bottom: 16px;
  max-width: 100%;
}

main h1,
main h2,
main h3 {
  margin: 0;
}

